.info-wrapper {
  display: flex;
  width: calc(100% + 20px);
  margin-left: -20px;
  padding: 55px 0;
}
.info-wrapper .info-card {
  width: calc(25% - 20px);
  margin-left: 20px;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.solution-wrapper {
  display: flex;
  width: calc(100% + 22px);
  margin-left: -22px;
  flex-wrap: wrap;
  flex-grow: row;
  margin-top: 30px;
  padding-bottom: 135px;
}
.solution-wrapper .solution-row {
  width: calc(25% - 22px);
  margin-left: 22px;
  border-radius: 20px;
  background: #EFF1F4;
  padding: 40px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.solution-wrapper .solution-row .title {
  color: #0061AF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.solution-wrapper .solution-row .title--small {
  font-size: 22px;
  line-height: 130%; /* 28.6px */
  letter-spacing: 0.44px;
}
.solution-wrapper .solution-row .title span {
  display: block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 80%;
}
.solution-wrapper .solution-row .descr {
  width: 80%;
}

.section-with-form {
  display: flex;
  justify-content: space-between;
  padding: 0 0 40px;
}
.section-with-form .text-part {
  width: 40%;
  margin-top: 65px;
}
.section-with-form .text-part .heading {
  margin-bottom: 30px;
}
.section-with-form .part-with-form {
  width: 40%;
  position: relative;
}
.section-with-form .part-with-form .after-img-consultation-form {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: -50%;
}
.section-with-form .consultation-form {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #C8DAEC;
  background: #FFF;
  padding: 40px;
  margin-top: -90px;
  position: relative;
  z-index: 2;
}
.section-with-form .consultation-form .heading-form {
  color: #0056A4;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%; /* 27px */
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section-with-form .consultation-form .flex-input {
  display: flex;
}
.section-with-form .consultation-form .flex-input .input-row {
  width: calc(50% - 10px);
}
.section-with-form .consultation-form .flex-input .input-row:nth-child(odd) {
  margin-right: 20px;
}
.section-with-form .consultation-form .input-row {
  margin-bottom: 15px;
}
.section-with-form .consultation-form .input-row.phone-input {
  margin-bottom: 25px !important;
}
.section-with-form .consultation-form .input-row .name-input {
  display: block;
  color: #2361A9;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%; /* 13.08px */
  letter-spacing: 0.12px;
  margin-bottom: 5px;
}
.section-with-form .consultation-form .input-row input {
  padding: 13px 20px 16px;
  width: 100%;
  border-radius: 100px;
  border: 1px solid #D7D8D9;
  height: 44px;
  color: rgba(27, 43, 60, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%; /* 15.26px */
  letter-spacing: 0.28px;
}
.section-with-form .consultation-form .input-row input::placeholder {
  color: rgba(27, 43, 60, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%; /* 15.26px */
  letter-spacing: 0.28px;
}
.section-with-form .consultation-form .blue-button {
  border-radius: 100px;
  background: #2361A9;
  padding: 14px 47px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: unset;
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
  line-height: 109%; /* 16.35px */
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.section-with-form .consultation-form .custom_chekbox {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.section-with-form .consultation-form .custom_chekbox:last-of-type {
  margin-bottom: 30px;
}
.section-with-form .consultation-form .custom_chekbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.section-with-form .consultation-form .custom_chekbox .checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid #99A4AF;
  border-radius: 8px;
}
.section-with-form .consultation-form .custom_chekbox .text {
  color: #1B2B3C;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.26px;
}
.section-with-form .consultation-form .custom_chekbox .text a {
  color: #0860C7;
  text-decoration: none;
}
.section-with-form .consultation-form .custom_chekbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.section-with-form .consultation-form .custom_chekbox .checkmark:after {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  background: url(../img/checkbox_done.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.section-with-form .consultation-form .custom_chekbox input:checked ~ .checkmark {
  border: unset;
}
.section-with-form .consultation-form .custom_chekbox input:checked ~ .checkmark:after {
  display: block;
}

.condition-col {
  width: 100%;
}
.condition-col .condition-row {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.condition-col .condition-row .number {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2361A9;
  margin-right: 20px;
}
.condition-col .condition-row .number span {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 26.4px */
  letter-spacing: 0.22px;
  text-transform: uppercase;
}
.condition-col .condition-row .number span img {
  width: 16px;
  height: 16px;
}
.condition-col .condition-row p {
  color: #606B77;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 166.667% */
  letter-spacing: 0.3px;
  width: calc(100% - 65px);
}
.condition-col .condition-row p a {
  color: #2361A9;
  font-weight: 600;
}

.form-row {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.form-row .name-input {
  font-weight: 500;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.01em;
  color: #2361A9;
  margin-bottom: 5px;
  display: block;
}
.form-row select {
  border: 1px solid #D7D8D9;
  background: #fff;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8493A8;
  width: 100%;
  height: 48px;
  padding: 0 18px;
}
.form-row option {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8493A8;
}

body .select2-container {
  width: -moz-available !important;
}

body .select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #D7D8D9;
  border-radius: 24px;
  height: 48px;
}

body .select2-container--default .select2-selection--single {
  height: 43px;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 16px;
}

body .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B2B3C;
  display: flex;
  align-items: center;
  height: 100%;
}

body .select2-container--default .select2-selection--single .select2-selection__rendered::placeholder {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 109%;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #1B2B3C;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 20px;
  right: 16px;
  width: 16px;
  height: 16px;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(../img/arrow_select.svg);
  background-repeat: no-repeat;
  background-position: 96% center;
  border-color: unset;
  border-style: unset;
  height: 7px;
  width: 12px;
  transform: translateY(-50%);
}

body .select2-dropdown {
  background: #EFF1F4;
  box-shadow: 0px 6px 22px rgba(64, 98, 145, 0.16);
  border-radius: 10px;
  border: unset;
  padding: 5px;
  border-radius: 10px;
}

body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white;
  background: #2361A9;
  border-radius: 10px;
}

body .select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 5px 8px;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #303A45;
}

body .parcel-content .select2-container--default .select2-selection--single {
  background-color: transparent;
  border: unset;
  border-radius: unset;
  height: 15px;
}

body .parcel-content .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
}

body .parcel-content .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 2px;
  right: 0;
}

body .currency_td .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #2361A9;
  font-weight: 700;
}

body .select2-container--default .select2-search--dropdown .select2-search__field {
  border: unset;
  display: none;
  padding: 0;
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: unset !important;
  border-right: 1px solid #D7D8D9;
}

.iti--separate-dial-code.iti--show-flags .iti__selected-dial-code {
  font-weight: 500;
  font-size: 12px;
  line-height: 109%;
  letter-spacing: 0.02em;
  color: #1B2B3C;
  margin-left: 10px;
}

.iti__arrow {
  margin-right: 10px;
  margin-left: 15px !important;
  width: 12px !important;
  height: 7px !important;
  background-image: url(../img/arrow_select.svg);
  background-repeat: no-repeat;
  border-left: unset !important;
  border-right: unset !important;
  border-top: unset !important;
}

.iti {
  display: block !important;
}

.iti__arrow--up {
  border-bottom: unset !important;
}

.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
  border-right: 1px solid #D7D8D9;
  padding: unset !important;
}

.meest-contact_page .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
  padding-left: auto !important;
}