.info-wrapper{
    display: flex;
    width: calc(100% + 20px);
    margin-left: -20px;
    padding: 55px 0;
    .info-card{
        width: calc(25% - 20px);
        margin-left: 20px;
    }
}

.center-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.solution-wrapper{
    display: flex;
    width: calc(100% + 22px);
    margin-left: -22px;
    flex-wrap: wrap;
    flex-grow: row;
    margin-top: 30px;
    padding-bottom: 135px;
    .solution-row{
        width: calc(25% - 22px);
        margin-left: 22px;
        border-radius: 20px;
        background: #EFF1F4;
        padding: 40px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        .title{
            color: #0061AF;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 56px */
            letter-spacing: 0.8px;
            text-transform: uppercase;
            margin-bottom: 50px;
            &--small{
                font-size: 22px;
                line-height: 130%; /* 28.6px */
                letter-spacing: 0.44px;
            }
            span{
                display: block;
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 0.3px;
                line-height: 80%;
            }
        }
        .descr{
            width: 80%;
        }
    }
}

.section-with-form{
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px;
    .text-part{
        width: 40%;
        margin-top: 65px;
        .heading{
            margin-bottom: 30px;
        }
    }
    .part-with-form{
        width: 40%;
        position: relative;
        .after-img-consultation-form{
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: -50%;
        }
    }
    .consultation-form{
        width: 100%;
        border-radius: 20px;
        border: 1px solid #C8DAEC;
        background: #FFF;
        padding: 40px;
        margin-top: -90px;
        position: relative;
        z-index: 2;
        // &:after{
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     bottom: -25px;
        //     left: -50%;
        //     z-index: -1;
        //     background-image: url(../img/before-consultation-form.png);
        //     width: 300px;
        //     height: 270px;
        // }
        .heading-form{
            color: #0056A4;
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 135%; /* 27px */
            letter-spacing: 0.4px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .flex-input{
            display: flex;
            .input-row{
                width: calc(50% - 10px);
                &:nth-child(odd){
                    margin-right: 20px;
                }
            }
        }
        .input-row{
            margin-bottom: 15px;
            &.phone-input{
                margin-bottom: 25px!important;
            }
            .name-input{
                display: block;
                color: #2361A9;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 109%; /* 13.08px */
                letter-spacing: 0.12px;
                margin-bottom: 5px;
            }
            input{
                padding: 13px 20px 16px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid #D7D8D9;
                height: 44px;
                color:  rgba(27, 43, 60, 0.60);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 109%; /* 15.26px */
                letter-spacing: 0.28px;
                &::placeholder{
                    color:  rgba(27, 43, 60, 0.60);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 109%; /* 15.26px */
                    letter-spacing: 0.28px;  
                }
            }
        }
        .blue-button{
            border-radius: 100px;
            background: #2361A9;
            padding: 14px 47px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: unset;
            color: #FFF;
            font-size: 15px;
            font-weight: 700;
            line-height: 109%; /* 16.35px */
            letter-spacing: 0.3px;
            text-transform: uppercase;
            cursor: pointer;
        }
        .custom_chekbox{
            display: block;
            position: relative;
            padding-left: 40px;
            margin-bottom: 15px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:last-of-type{
                margin-bottom: 30px;
            }
            input{
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            .checkmark {
                position: absolute;
                top: -5px;
                left: 0;
                height: 30px;
                width: 30px;
                background-color: transparent;
                border: 1px solid #99A4AF;
                border-radius: 8px;
            }
            .text{
                color: #1B2B3C;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px; /* 153.846% */
                letter-spacing: 0.26px;
                a{
                    color: #0860C7;
                    text-decoration: none;
                }
            }
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            .checkmark:after {
                left: 0px;
                top: 0px;
                width: 30px;
                height: 30px;
                background: url(../img/checkbox_done.svg);
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .custom_chekbox input:checked ~ .checkmark{
            border: unset;
        }
        .custom_chekbox input:checked ~ .checkmark:after {
            display: block;
        } 
    }
}

.condition-col{
    width: 100%;
    .condition-row{
        display: flex;
        align-items: center;
        margin-bottom: 27px;
        .number{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #2361A9;
            margin-right: 20px;
            span{
                color: #FFF;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 26.4px */
                letter-spacing: 0.22px;
                text-transform: uppercase;
                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }
        p{
            color: #606B77;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 25px; /* 166.667% */
            letter-spacing: 0.3px;
            width: calc(100% - 65px);
            a{
                color: #2361A9;
                font-weight: 600;
            }
        }
    }
}

.form-row{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    .name-input{
      font-weight: 500;
      font-size: 12px;
      line-height: 109%;
      letter-spacing: 0.01em;
      color: #2361A9;
      margin-bottom: 5px;
      display: block;
    }
    select{
      border: 1px solid #D7D8D9;
      background: #fff;
      border-radius: 100px;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      color: #8493A8;
      width: 100%;
      height: 48px;
      padding: 0 18px;
    }
    option{
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #8493A8;
    }
}

body .select2-container{
    width: -moz-available!important;
}
 
body .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #D7D8D9;
    border-radius: 24px;
    height: 48px;
}
  
body .select2-container--default .select2-selection--single{
    height: 43px;
}
  
body .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 16px;
}
  
body .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #1B2B3C;
    display: flex;
    align-items: center;
    height: 100%;
}
  
body .select2-container--default .select2-selection--single .select2-selection__rendered::placeholder{
    padding: 10px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 109%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #1B2B3C;
}
  
body .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 20px;
    right: 16px;
    width: 16px;
    height: 16px;
}
  
body .select2-container--default .select2-selection--single .select2-selection__arrow b{
    background-image: url(../img/arrow_select.svg);
    background-repeat: no-repeat;
    background-position: 96% center;
    border-color: unset;
    border-style: unset;
    height: 7px;
    width: 12px;
    transform: translateY(-50%);
}
  
body .select2-dropdown{
    background: #EFF1F4;
    box-shadow: 0px 6px 22px rgba(64, 98, 145, 0.16);
    border-radius: 10px;
    border: unset; 
    padding: 5px;
    border-radius: 10px;
}

body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb;
    color: white;
    background: #2361A9;
    border-radius: 10px;
}
  
body .select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 5px 8px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #303A45;
}
  
body .parcel-content .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: unset;
    border-radius: unset;
    height: 15px;
}
  
body .parcel-content .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0;
}
  
body .parcel-content .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 2px;
    right: 0;
}
  
body .currency_td .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #2361A9;
    font-weight: 700;
}

body .select2-container--default .select2-search--dropdown .select2-search__field {
    border: unset;
    display: none;
    padding: 0;
}
  
.iti--separate-dial-code .iti__selected-flag {
    background-color: unset !important;
    border-right: 1px solid #D7D8D9;
}
.iti--separate-dial-code .iti__selected-dial-code {
    margin-left: 5px!important;
    font-size: 14px;
}
  
.iti--separate-dial-code.iti--show-flags .iti__selected-dial-code {
    font-weight: 500;
    font-size: 12px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #1B2B3C;
    margin-left: 10px;
}
  
.iti__arrow {
    // margin-right: 8px;
    margin-left: 8px !important;
    width: 12px !important;
    height: 7px !important;
    background-image: url(../img/arrow_select.svg);
    background-repeat: no-repeat;
    border-left: unset !important;
    border-right: unset !important;
    border-top: unset !important;
}
  
.iti {
    display: block !important;
}
  
.iti__arrow--up {
    border-bottom: unset !important;
}
  
.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
    border-right: 1px solid #D7D8D9;
    padding: unset !important;
}
  
.meest-contact_page .iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-left: auto !important;
}

//main-service

// .main-service-wrapper{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 30px 0 60px;
//     .text-part{
//         width: 35%;
//         .heading{
//             margin-bottom: 10px;
//         }
//     }
//     .flex-card{
//         width: 50%;
//         display: flex;
//         .info-card{
//             width: calc(50% - 10px);
//             &:nth-child(odd){
//                 margin-right: 20px;
//             }
//         }
//     }
// }

// .delivery-options-wrapper{
//     margin-bottom: 70px;
//     .heading{
//         margin-bottom: 30px;
//     }
// }

// .del-opt-cards{
//     display: flex;
//     flex-grow: row;
//     flex-wrap: wrap;
//     width: calc(100% + 20px);
//     margin-left: -20px;
//     &__row{
//         width: calc(33.3% - 20px);
//         margin-left: 20px;
//         border-radius: 20px;
//         background: #EFF1F4;
//         padding: 20px 40px;
//         margin-bottom: 20px;
//         .map{
//             position: relative;
//             width: 100%;
//             height: 160px;
//             .point{
//                 position: absolute;
//                 width: 112px;
//                 height: 112px;
//             }
//             .point2{
//                 bottom: 0;
//                 left: 0;
//             }
//             .point1{
//                 top: 0;
//                 right: 0;
//             }
//             .road{
//                 position: absolute;
//                 top: 50%;
//                 left: 50%;
//                 transform: translate(-50%, -50%);
//             }
//         }
//         .title{
//             margin-top: 18px;
//             color: #0056A4;
//             font-size: 17px;
//             font-style: normal;
//             font-weight: 700;
//             line-height: 135%; /* 22.95px */
//             letter-spacing: 0.34px;
//             text-transform: uppercase;
//             text-align: center;
//         }
//     }
// }

// .sec-with-img{
//     display: flex;
//     position: relative;
//     &.sec-with-img2{
//         &:after{
//             content: "";
//             background-image: url(../img/sec_witn_img2.png);
//             background-repeat: no-repeat;
//             background-position: bottom right;
//             background-size: contain;
//             position: absolute;
//             bottom: 0;
//             right: 0;
//             width: 100%;
//             height: 90%;
//         } 
//     }
//     &:after{
//         content: "";
//         background-image: url(../img/sec_witn_img.png);
//         background-repeat: no-repeat;
//         background-position: bottom right;
//         background-size: contain;
//         position: absolute;
//         bottom: 0;
//         right: 0;
//         width: 100%;
//         height: 90%;
//     }
//     .heading{
//         margin-bottom: 30px;
//     }
//     .text-part{
//         width: 45%;
//         padding: 63px 0 70px 88px;
//     }
//     .img-mobile{
//         display: none;
//     }
// }

// //payment
// .payment-sec{
//     padding: 40px 0 50px;
//     &__heading{
//         color: #2361A9;
//         font-family: Montserrat;
//         font-size: 28px;
//         font-style: normal;
//         font-weight: 600;
//         line-height: 135%; /* 37.8px */
//         letter-spacing: -0.28px;
//         margin-bottom: 20px;
//     }
// }

// .payment-card-flex{
//     display: flex;
//     align-items: flex-start;
//     width: calc(100% + 20px);
//     margin-left: -20px;
//     .payment-card{
//         width: calc(25% - 20px);
//         margin-left: 20px;
//     }
// }
// .payment-card{
// 	background: #FFFFFF;
// 	border: 1px solid #C8DAEC;
// 	border-radius: 20px;
// 	padding: 20px 23px 23px 27px;
// 	.top{
// 		display: flex;
// 		align-items: flex-start;
// 		justify-content: space-between;
// 		margin-bottom: 20px;
// 		.way-row{
// 			display: flex;
// 			flex-direction: column;
// 			align-items: flex-end;
// 			.number-card{
// 				display: block;
// 				font-weight: 500;
// 				font-size: 35px;
// 				line-height: 109%;
// 				letter-spacing: 0.02em;
// 				text-transform: uppercase;
// 				color: #0061AF;
// 				margin-bottom: 5px;
// 			}
// 			.text{
// 				font-weight: 700;
// 				font-size: 16px;
// 				line-height: 109%;
// 				letter-spacing: 0.02em;
// 				text-transform: uppercase;
// 				color: #0061AF;
// 			}
// 		}
// 		.paym_logo{
// 			border: 1px solid #EEF0F0;
// 			border-radius: 4px;
// 			width: 52px;
// 			height: 52px;
// 		}
// 	}
// 	.info{
// 		.decr{
// 			width: 80%;
// 			font-weight: 500;
// 			font-size: 13px;
// 			line-height: 20px;
// 			letter-spacing: 0.02em;
// 			color: #0061AF;
// 			margin-bottom: 20px;
//             a{
//                 font-weight: 700;
//             }
// 		}
// 		.instruction-line{
// 			width: calc(100% + 23px);
// 			padding: 15px 23px 15px 0;
// 			display: flex;
// 			align-items: center;
// 			justify-content: space-between;
// 			text-decoration: none;
// 			border-top: 1px solid #C8DAEC;
// 			&:last-of-type{
// 				padding-bottom: 0;
// 			}
// 			span{
// 				font-weight: 700;
// 				font-size: 12px;
// 				line-height: 150%;
// 				letter-spacing: 0.02em;
// 				text-transform: uppercase;
// 				color: #0061AF;
// 			}
// 			img{
// 				width: 7px;
// 				height: 12px;
// 			}
// 		}
// 	}
// }

// .flex_download_apps{
// 	display: flex;
// 	flex-flow: row;
// 	flex-wrap: wrap;
// }

// .download_apps{
// 	background: #0056A4;
// 	border-radius: 5px;
// 	padding: 6px 10px;
// 	display: inline-block;
// 	margin-bottom: 10px;
// 	width: calc(50% - 5px);
// 	&:first-of-type{
// 		margin-right: 10px;
// 	}
// 	img{
// 		width: 100%;
// 		height: 27px;
// 	}
// }

// //documents
// .document-wrapper{
//     width: 60%;
//     margin: 0 auto;
//     padding: 50px 0;
//     &__heading{
//         color: #2361A9;
//         font-size: 28px;
//         font-style: normal;
//         font-weight: 600;
//         line-height: 135%; /* 37.8px */
//         letter-spacing: -0.28px;
//         margin-bottom: 23px;
//     }
// }

// .document-link{
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     border-radius: 8px;
//     border: 1px solid #C8DAEC;
//     background: #FFF;
//     padding: 25px 30px 25px 40px;
//     margin-bottom: 10px;
//     &:last-of-type{
//         margin-bottom: 0;
//     }
//     h2{
//         color: #2361A9;
//         font-size: 17px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 109%; /* 18.53px */
//         letter-spacing: -0.17px;
//         text-transform: uppercase;
//     }
//     img{
//         width: 19px;
//         height: 19px;
//     }
// }


