@media(max-width: 1150px){
    .requirement-wrapper{
        &__row{
            padding: 20px 30px 30px 30px;
        }
    }
    .insruction-sec{
        .part-video {
            width: calc(55% - 70px);
            margin-right: 70px;
        }
    }
}
@media(max-width: 991px){
    .become-partner-sec{
        .text-part{
            .heading-section{
                font-size: 22px;
                line-height: 130%;
            }
            .descr{
                width: 100%;
                font-size: 13px;
                margin-bottom: 20px;
            }
        }
    } 
    .intrntn-del-cards{
        &__row{
            width: calc(50% - 28px);
        }
    } 
    .sec-intrntn-del {
        padding: 30px 0;
    } 
    .requirement-wrapper{
        flex-flow: row;
        flex-wrap: wrap;
        &__row{
            width: 50%;
            &:nth-child(even){
                border-right: unset;
            }
            &:nth-child(1){
                border-bottom: 1px solid #C8DAEC;
            }
            &:nth-child(2){
                border-bottom: 1px solid #C8DAEC;
            }
            &:last-of-type{
                width: 50%;
            }
        }
    }
    .insruction-sec{
        display: block;
        .part-video {
            width: 100%;
            margin-right: 0;
        }
        .part-instruction{
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }
    }
    .navigation-international-del{
        margin-left: 0;
        width: 100%;
        overflow: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none; 
        border-radius: 4px;
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
        .navigations-menu-page{
            border-top: unset;
            padding-top: 0;
            overflow: unset;
            padding-left: 0;
            li:last-of-type{
                padding-right: 25px;
            }
            li.active:after{
                top: 145%;
            }
            li:hover:after{
                top: 145%;
            }
        }
    }
    .meest-cooperation.international-delivery.top-wrap{
        .top-wrap__inner{
            width: 100%;
            margin-left: 0;
                .text-part{
                    width: 100%;
                    .heading-section{
                        margin-left: 0;
                    }
                    .blue-button54{
                        margin-left: 0;
                    }
                }
        }
    } 
}
@media(max-width: 900px){
    .submit-application-wrap{
        &:after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: url(../img/bcg_submit_application_media.png);
            width: 100%;
            height: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
        }
    }
}
@media(max-width: 768px){
    .become-partner-sec{
        flex-direction: column-reverse;
        padding: 30px 0 25px;
        .img-wrap{
            width: 100%;
            margin-right: 0;
        }
        .text-part{
            width: 100%;
            margin-bottom: 20px;
        }
    } 
    .intrntn-del-cards{
        width: 100%;
        margin-left: 0;
        overflow-x: scroll;
        flex-flow: unset;
        flex-wrap: unset;
        margin-top: 20px;
        &__row{
            width: 90%;
            flex: 0 0 auto;
            margin-left: 0;
            margin-right: 20px;
            padding: 20px 30px;
            img{
                margin-bottom: 23px;
            }
            .heading{
                font-size: 17px;
                line-height: 120%;
                letter-spacing: 0.34px;
                margin-bottom: 10px;
            }
        }
    } 
    .sec-intrntn-del{
        .heading-section{
            color: #0061AF;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 28.6px */
            text-transform: uppercase;
            margin-bottom: 10px;
            text-align: left;
        }
        .descr-main{
            text-align: left;
            br{
                display: none;
            }
        }
    } 
    .requirement-wrapper{
        flex-flow: unset;
        flex-wrap: unset;
        flex-direction: column;
        margin-top: 40px;
        &__row{
            width: 100%;
            border-bottom: 1px solid #C8DAEC;
            border-right: unset;
            &:last-of-type{
                width: 100%;
                border-bottom: unset;
            }
            img{
                margin-bottom: 20px;
            }
            .heading{
                font-size: 17px;
                line-height: 120%; /* 20.4px */
                letter-spacing: 0.34px;
            }
        }
    }
    .submit-application-wrap{
        padding: 70px 0 90px;
        h2{
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.4px;
            margin-bottom: 30px;
        }
        .btn-transperent{
            padding: 19px 25px 19px 25px;
        }
    }
    .insruction-sec{
        .part-video {
            .heading-section{
                margin-bottom: 20px;
                font-size: 20px;
                line-height: 120%; /* 24px */
                letter-spacing: 0.4px;
            }
        }
        .part-instruction{
            width: 100%;
            align-items: flex-start;
            .heading-section{
                margin-bottom: 10px;
                font-size: 20px;
                line-height: 120%; /* 24px */
                letter-spacing: 0.4px;
            }
        }
        .instruction-descr{
            &__rule{
                .info{
                    img{
                        width: 100px;
                        height: 100px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .meest-cooperation.international-delivery.top-wrap{
        .top-wrap__inner{
                .text-part{
                    .heading-section{
                        margin-top: 30px;
                        margin-bottom: 20px;
                        font-size: 22px;
                        line-height: 130%; /* 28.6px */
                    }
                    .blue-button54{
                        margin-bottom: 30px;
                    }
                }
        }
    }
}
@media(max-width: 400px){
    .toggle-switch{
        width: 100%;
        .page{
            font-size: 13px;
            padding: 10px;
        }
    }
}